html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    color: #212121;
    background: #fcfcfc;
}

.h-center {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.main-container {
    top: 0;
    bottom: 0;
    max-width: 1024px;
    height: 100%;
}

.content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.circle {
    width: 130px;
    height: 130px;
    border: 6px solid #F44336;
    border-radius: 130px;
    line-height: 130px;
    text-align: center;
    background: #F44336;
    color: #fcfcfc;
}

.circle div {
    vertical-align: middle;
    font-size: 65px;
}

.h-name {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.h-name h1 {
    font-size: 34px;
    font-weight: normal;
    line-height: 42px;
    margin: 0;
    padding: 20px 0 10px;
}

.h-occupation {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.h-occupation h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 0 0 4px;
}

.line {
    color: #B6B6B6;
    background-color: #B6B6B6;
    border: 0 none;
    height: 2px;
    clear: both;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.email {
    text-align: center;
}

.email a {
    color: #727272;
    text-decoration: none;
}

.email a:hover {
    color: #03A9F4;
}

.contact-icons {
    text-align: center;
    margin: 20px 0 0;
}

.contact-icons i {
    cursor: pointer;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 28px;
}

.contact-icons a i {
    color: #212121;
}

.contact-icons a i.fa-github:hover {
    color: #03A9F4;
}

.contact-icons a i.fa-facebook:hover {
    color: #3B5998;
}

.contact-icons a i.fa-linkedin:hover {
    color: #007bb6;
}

.contact-icons a i.fa-vk:hover {
    color: #45668e;
}